<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Current State: {{service.timerState}}
  </h1>

  <button (click)="service.start()" *ngIf="service.timerState === 'stopped'">Start</button>
  <button (click)="service.stop()" *ngIf="service.timerState !== 'stopped'">Stop</button>
  <button (click)="service.pause()" *ngIf="service.timerState === 'running'">Pause</button>
  <button (click)="service.resume()" *ngIf="service.timerState === 'paused'">Resumse</button>
  <button (click)="service.startNewLap()" *ngIf="service.timerState === 'running'">Lap</button>

  <div *ngIf="stopwatchState$ | async as state">
    <h1>Duration: {{state.elapsedDuration}}</h1>
    <span>Laps:</span>
    <ul>
      <li *ngFor="let lap of state.laps; let i=index">
        Lap {{i + 1}}: {{lap}}
      </li>
    </ul>
  </div>
</div>